<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908903382830-48bgjrpfsb5t8tluqit9a2vi0185aqa1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908903382830-48bgjrpfsb5t8tluqit9a2vi0185aqa1</string>
	<key>API_KEY</key>
	<string>AIzaSyClAwAdqC2jAz3szvFIgDyGgp1x2g_62es</string>
	<key>GCM_SENDER_ID</key>
	<string>908903382830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiotics.app</string>
	<key>PROJECT_ID</key>
	<string>videoapp-e814d</string>
	<key>STORAGE_BUCKET</key>
	<string>videoapp-e814d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908903382830:ios:2fefdbd3f6c260f67144bf</string>
</dict>
</plist>